:root {
    --column-number: 1;
    --grid-width-height: 420px;
    --main-bg-c: darkseagreen;
}

body {
    background-color:var(--main-bg-c);
}

.gridWrapper {
    width: var(--grid-width-height);
    height: var(--grid-width-height);
    display: grid;
    grid-template-columns: repeat(var(--column-number),1fr);
    position: fixed;
    left: 50%;
    transform: translate(-50.5%, 29%);
    z-index: 2;
}

.pageWrapper {
    display: flex;
    justify-content: center;
}

.options {
    margin: 15px;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.btn {
    font-size: 1.3em;
}

.slider {
    margin-left: 30px;
}

#header {
    display: flex;
    justify-content: center;
}

#headTitle {
    font-family: sans-serif;
    font-size: 2em;
    font-weight: lighter;
}


#etchPic {
    height: 700px;
    width: 600px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
}

#colorPicker {
    margin-left: 20px;
}

#linkToGitHub{
    width: 35px;
    margin-left: 95px;
}

#gitImg:hover {
    border-radius: 20px;
    background-color:white;
}