:root {
    --column-number: 1;
    --grid-width-height: 500px;
    --main-bg-c: darkseagreen;
}

body {
    background-color:var(--main-bg-c);
}

.gridWrapper {
    border: solid 4px black;
    width: var(--grid-width-height);
    height: var(--grid-width-height);
    display: grid;
    grid-template-columns: repeat(var(--column-number),1fr);
}

.pageWrapper {
    display: flex;
    justify-content: center;
}

.options {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.btn {
    font-size: 1.3em;
}

.slider {
    margin-left: 30px;
}